<div class="container-fluid" [@fadeInAnimation]>

  <app-header></app-header>

  <!--inner contents -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header mt-3 mb-3">
        <h2>
          Latest - <small>Latest parse products</small>
        </h2>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail First" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail Second" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail Third" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail First" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail Second" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card">
            <img class="card-img-top" alt="Product Thumbnail Third" src="assets/images/default-product-image.jpg" />
            <div class="card-block">
              <h5 class="card-title">
                Product name
              </h5>
              <p class="card-text">
                Product description
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>

