<div class="container-fluid" [@fadeInAnimation]>
  <div class="row">
    <div class="col-md-12 errorArea">
      <div class="errorLogo text-center">
        <img src="assets/images/page-not-found.png" alt="Error">
      </div>
      <h3 class="text-center error display-3 engFont">404</h3>
      <h4 class="text-muted text-center">The page you are looking for is not found</h4>
      <br />
      <a class="btn-common ripple btnError" routerLink="/{{ 'login' }}">Go to login</a>
    </div>
  </div>
</div>

